#actual{
    padding-top: 20px;
    overflow: hidden;
    position: relative;
    @include breakpoint (large up) {
        padding: 20px 40px 20px;
        padding-bottom: 84px;
    }
    @include breakpoint (xlarge up) {
        padding-bottom: 47px;
    }
    
    .actual-items-wrapper{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        position: relative;
        overflow: hidden;
        @include breakpoint (large up) {
            display: flex;
            flex-wrap: wrap;
            align-items: self-start;
            width: 100%;
            justify-content: space-between;
        }
        @include breakpoint (xlarge up) {
            padding-bottom: 20px;
        }


        .actual-item{
            
            &.large{
                display: flex;
                position: relative;
                width: 100%;
                border-left: 15px solid #fff;
                margin: 0 auto;
                @include breakpoint( medium up){
                    border-left: 40px solid #fff;
                }
                @include breakpoint( large up){
                    display: flex;
                    border-left: 0;
                    flex-wrap: wrap;
                    overflow: hidden;
                    height: 0;
                    padding-bottom: 405px;
                }
                @include breakpoint (xlarge up) {
                    flex: 0 0 50%;
                    height: unset;
                    padding: unset;
                }
                .img-wrap{
                    height: 0;
                    padding-bottom: 272px;
                    overflow: hidden;
                    position: relative;
                    padding-left: 15px;
                    @media screen and (min-width: 768px){
                        padding-bottom: 345px;
                        width: 100%;
                    }
                    @include breakpoint (large up) {
                        padding-bottom: 405px;
                        padding-left: 0;
                    }
                img{
                    width: 100%;
                    max-width: 410px;
                    position: relative;
                    left: -90px;
                    @media screen and (min-width: 768px){
                        min-width: 520px;
                    }
                    @include breakpoint( large up){
                        width: 100%;
                        max-width: 610px;
                        position: absolute;
                        left: 0;
                        top: 0;
                        bottom: 0;
                    }
                    @include breakpoint( xlarge up){
                        flex: 0 0 100%;
                        width: 100%;
                        position: relative;
                    }
                }
                }
                .product-text{
                    border: 1.2px solid #A89E5E;
                    padding: 20px;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 15px;
                    margin-top: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 50%;
                    @include breakpoint( medium up){
                        right: 40px;
                        width: 50%;
                        padding: 30px;
                    }
                    @media screen and (min-width: 768px){
                        padding-left: 55px;
                    }
                    @include breakpoint( large up){
                        border: 1.2px solid #A89E5E;
                        padding: 25px 35px 20px 50px;
                        position: inherit;
                        width: 50%;
                        top: unset;
                        right: unset;
                        position: absolute;
                        transform: unset;
                        right: 0;
                        top: 0;
                        bottom: 0;
                    }
                    @include breakpoint( xlarge up){
                        position: unset;
                        margin-top: -116px;
                        padding: 53px 70px 53px 55px;
                        width: 90%;
                    }
                    h5{
                        font-size: 16px;
                        margin-bottom: 0;
                        @include breakpoint( medium up){
                            font-size: 17px;
                        }
                        @include breakpoint (large up) {
                            font-size: 29px;
                        }
                        @include breakpoint (xlarge up) {
                            padding-bottom: 25px;
                        }
                        
                    }
                    p{
                        font-size: 10px;
                        @include breakpoint( medium up){
                            font-size: 12px;
                        }
                        @include breakpoint (large up){
                            font-size: 16px;
                        }
                        
                    }
                    a{
                        margin: 15px auto 0 0;
                        font-size: 10px;
                        color: #027E1B;
                        font-weight: 900;
                        font-family: "Amiri";
                        display: inline-block;
                        background: transparent;
                        border: 1.2px solid #027E1B;
                        transition: .3s ease-in-out;
                        ;
                        &:hover{
                            background: #027E1B;
                            color: #fff;
                            transition: .3s ease-in-out;
                        }
                        @include breakpoint( medium up){
                            font-size: 12px;
                        }
                        @include breakpoint( large up){
                            position: unset;
                            transform: unset;
                            margin-top: 30px;
                            font-size: 16px;
                        }
                    }
                }
            }

            &.small{
                cursor: pointer;
                margin-bottom: 32px;
                margin-right: 15px;
                overflow: hidden;
                @include breakpoint (large up) {
                    margin-right: 0;
                    margin-left: 50px;
                }
                img{
                    transition: .3s ease-in-out;
                    opacity: .8;
                    @include breakpoint (large up) {
                        width: 100%;
                        
                    }
                }
                .product-text{
                    border: 1.2px solid #A89E5E;
                    width: 90%;
                    margin: -63px auto 0;
                    @include breakpoint (large up) {
                        padding: 25px 30px 25px 20px;
                    }
                    
                    h5{
                        font-size: 12px;
                        margin-bottom: 0;
                        padding-bottom: 10px;
                        @include breakpoint (large up) {
                            font-size: 16px;
                            padding-bottom: 15px;
                        }
                    }
                    p{
                        font-size: 8px;
                        @include breakpoint (large up) {
                            font-size: 12px;
                        }
                    }
                }
                &:hover{
                    img{
                        transform: scale(1.1);
                        opacity: 1;
                        transition: .3s ease-in-out;
                    }
                }
            }

        }
        .actual-wrapp{
            display: block;
            flex-wrap: wrap;
            width: 100%;
            margin-top: 30px;
            margin-left: 0;
            @include breakpoint (large up) {
                margin-left: -50px;
                width: 105%;
                max-width: 1273px;
                margin-top: 30px;
            }
            @include breakpoint (xlarge up) {
                display: none;
            }
            .small{
                .product-text{
                    padding: 20px 23px;
                }
            }
        }
        .actual-wrapp-no-slider{
            display: none;
            @include breakpoint (xlarge up) {
                display: flex;
                flex: 0 0 50%;
                margin: 0;
            }
            @media screen and (min-width: 1020px){
            }
            @media screen and (min-width: 1080px){
            
            }
            .small{
                margin-left: 60px;

                @include breakpoint (xlarge){
                    img{
                        height: 175px;
                    }
                    .product-text{
                        padding: 25px 30px 29px 29px;
                        margin-top: -42px;
                        h5{
                            margin-bottom: 0;
                            line-height: 15px;
                        }
                        p{
                            line-height: 15px;
                        }
                    }
                }
            }
        }
        .slick-dots{
            bottom: 0px;
            margin-left: 50px;
            li{
                color: #fff;
                transition: .1s ease-in-out;
                &.slick-active{
                    color: #BEB686;
                }
                button{
                    border: 1px solid #BEB686;
                }
                &:hover{
                    color: #BEB686;
                    transition: .1s ease-in-out;
                }
            }

        }

    }
    .btn{
        margin: 0 auto 0;
        @include breakpoint (large up) {
           position: absolute;
           bottom: 0;
           left: 50%;
           transform: translateX(-50%);
        }
    }
    
}