#hero{
padding: 100px 15px 0;
background-size: cover !important; 
background-repeat: no-repeat !important;
background-position: center !important;
margin-top: -67px;
    @include breakpoint (medium up) {
        // background-image: url('../img/backgrounds/hero-bg-medium.jpg') !important;
        padding: 100px 40px 20px;
        margin-top: -96px;
    }
    @include breakpoint (large up) {
        background-image: url('../img/backgrounds/test-bg.jpg') !important;
        padding: 167px 40px 70px;
        margin-top: -96px;

    }
    @include breakpoint (xlarge up) {
        padding: 225px 0 170px;
        margin-top: -96px;
        position: relative;
    }
    .b{
        position: relative;
        @include breakpoint (xlarge up) {
            padding-left: 100px;
    
        }
        .hero-text{
            text-align: center;
            color: #fff;
            @include breakpoint (medium up) {
                text-align: left;
                padding-bottom: 25px;
            }
            @include breakpoint (large up) {
                padding-bottom: 10px;
            }

            h1{
                font-family: 'Amiri';
                font-size: 25px;
                line-height: 30px;
                margin: 0;
                font-weight: 900;
                @include breakpoint (medium up) {
                    padding-bottom: 15px;
                }
                @include breakpoint (large up) {
                    font-size: 35px;
                    padding-bottom: 35px;
                    line-height: 40px;
                }
                @include breakpoint (xlarge up) {
                    font-size: 45px;
                    padding-bottom: 35px;
                    line-height: 50px;
                }
            }
            p{
                font-size: 12px;
                color: #fff;
                line-height: 24px;
                font-family: 'Bahnschrift';
                padding: 18px 20px;
                margin: 0;
                @media screen and (min-width: 480px){
                    padding: 18px 50px;
                }
                @include breakpoint (medium up) {
                    padding: 0;
                    padding-bottom: 50px;
                    max-width: 380px;
                }
                @include breakpoint (large up) {
                    font-size: 14px;
                    max-width: 450px;
                }
                @include breakpoint (xlarge up) {
                    font-size: 16px;
                }
            }
        }
        .slider-jars{
            max-width: 290px;
            margin: 50px auto 0px;
            height: 100%;
            max-height: 210px;
            @include breakpoint (medium up) {
                height: auto;
                position: absolute;
                right: -30px;
                bottom: -20px;
                max-height: unset;
                max-width: 300px;
            }
            @include breakpoint (large up) {
                position: absolute;
                max-width: 430px;
                right: 40px;
                bottom: -60px;
                margin-bottom: 0;
            }
            @include breakpoint (xlarge up) {
                right: 0;
                bottom: -120px;
                max-width: unset;
            }
            @include breakpoint (xxlarge up) {
                right: 0;
                bottom: -150px;
                max-width: unset;
            }
        }
        .btn{
            &:hover{
                background: #fff;
                border: 1.2px solid #fff;
                color: #027E1B;
            }
        }
    }
}