#products{
    position: relative;
    overflow: hidden;
    padding-top: 20px;
    @include breakpoint ( medium up){
        padding-top: 15px;
    }
    @include breakpoint ( large up){
        padding: 20px 40px 0px;
    }
    @include breakpoint ( xlarge up){
        padding: 20px 40px 0px;
    }
    .left{
        position: absolute;
        left: -241px;
        width: 90%;
        bottom: -80px;
        transform: rotate(77deg);
        max-width: 420px;
        @include breakpoint (medium up) {
            left: -221px;
            max-width: 450px;
        }
        @include breakpoint (large up) {
            left: -561px;
            max-width: 930px;
            width: 100%;
            transform: rotate(37deg);
        }
        @include breakpoint (xlarge up){
            bottom: -110px;
            left: -521px;
        }
        @include breakpoint (xxlarge up) {
            left: -550px;
            top: 40%;
        }
    }
    .right{
        position: absolute;
        right: -241px;
        width: 90%;
        bottom: -80px;
        transform: rotate(-87deg);
        max-width: 420px;
        @include breakpoint (medium up) {
            right: -211px;
            max-width: 450px;
        }
        @include breakpoint (large up) {
            right: -611px;
            max-width: 910px;
            width: 100%;
            transform: rotate(-37deg);
        }
        @include breakpoint (xlarge up){
            bottom: -110px;
            right: -511px;
        }
        @include breakpoint (xxlarge up) {
            position: absolute;
            right: -510px;
            top: 40%;
            transform: rotate(-55deg);
        }
    }
    .products-wrapp{
        width: 100%;
        padding-bottom: 10px;
        position: relative;
        z-index: 100;
        display: block;
        @include breakpoint (large up) {
            display: none;
        }
        .product{
            text-align: center;
            margin-top: 15px;
            margin-bottom: 30px;
            margin-right: 15px;
            max-width: 90%!important;
            overflow: hidden;
            @include breakpoint (medium up) {
            }

            img{
                width: 100%;
                transition: .3s ease-in-out;
            }
            .product-text{
                padding: 13px 5px 13px;
                width: 90%;
                margin: -25px auto 0;

                @include breakpoint (xlarge up) {
                    display: unset;
                }
                h5{
                    padding: 0;
                    margin: 0;
                    @include breakpoint (large up) {
                        padding: 0;
                    }
                }
                p{
                    display: none;
                    @include breakpoint (xlarge up) {
                        display: block;
                    }
                }

            }
            &:hover{
                img{
                    transform: scale(1.1);
                    transition: .3s ease-in-out;
                }
            }
        }

    }

    .products-wrapp-no-slider{
        display: none;
        @include breakpoint (large up) {
            display: flex;
            flex-wrap: wrap;
            width: auto;
            justify-content: center;
            margin: 0 -30px;
            padding: 0 0px;
        }
        @include breakpoint (xlarge up) {
            margin: 0 -40px;
        }
        .product{
            margin-bottom: 50px;
            display: flex;
            flex-wrap: wrap;
            width: 33%;
            flex:  0 0 33%;
            padding: 0 25px ;
            cursor: pointer;
            overflow: hidden;
            @include breakpoint (xlarge up) {
                width: 25%;
                flex: 0 0 25%;
                padding: 0 30px;
            }
            .img-wrap  {
                overflow: hidden;
                img{
                    width: 100%;
                    transition: .3s ease-in-out;
                    opacity: .8;
                }
            }
            .product-text{
                padding: 15px;
                width: 85%;
                margin: -28px auto 0;
                @include breakpoint (large up) {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                }
                @include breakpoint (xlarge up) {
                    padding: 25px 30px;
                    width: 90%;
                }

                h5{
                    margin: 0;
                    padding: 0;
                    padding-bottom: 15px;
                    @include breakpoint (large up) {
                        padding: 0;
                        margin: 0;
                    }
                    @include breakpoint (xlarge up) {
                        padding-bottom: 15px;
                    }
                    
                }
                p{
                    display: none;
                    @include breakpoint (xlarge up){
                        display: block;
                    }
                }
            }
            .product-text{
                text-align: center;
            }
            &:hover{
                img{
                    transition: .3s ease-in-out;
                    transform: scale(1.1);
                    opacity: 1;
                }
            }
        }
    }
    .pros-and-cons{
        position: relative;
        z-index: 100;
        width: 100%;

        .pros-wrapp, .pros-wrapp-no-slider{
            display: block;
            flex-wrap: wrap;
            width: 300px;
            justify-content: space-between;
            margin: 0 auto;
      
            @include breakpoint (medium up) {
                width: 360px;
                display: block;
            }
            @include breakpoint (large up) {
                display: none;
            }
            .pros{
                h6{
                    font-family: "Amiri";
                    font-weight: bold;
                }
                p{
                    margin-top: -10px;
                    color: #514F42;
                }
            }
            &.pros-wrapp-no-slider{
                display: none;
                padding-top: 20px;
                @include breakpoint (large up) {
                    display: flex;
                    width: 100%;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }
                .pros{
                    width: 31%;
                    padding: 20px 20px 25px;
                    h6{
                        @include breakpoint (xlarge up){
                            font-size: 30px;
                            margin-bottom: 0;
                            padding-bottom: 20px;
                            margin-top: -42px;
                        }
                    }
                    p{
                        margin-top: -10px;
                        color: #514F42;
                        @include breakpoint (xlarge up){
                            font-size: 16px;
                        }
                    }
                }
            }
            .slick-dots{
                bottom: 5px;
                li{
                    color: #fff;
                    transition: .1s ease-in-out;
                    &.slick-active{
                        color: #BEB686;
                    }
                    button{
                        border: 1px solid #BEB686;
                    }
                    &:hover{
                        color: #BEB686;
                        transition: .1s ease-in-out;
                    }
                }
    
            }
            
            .pros{
                width: 300px;
                text-align: center;
                background: #fff;
                border: 1.3px solid #A89E5E;
                padding: 20px 10px 15px;
                margin-top: 20px;
                margin-bottom: 30px;
                @include breakpoint (medium up) {
                    margin-left: 20px;
                    margin-right: 20px;
                }
                @include breakpoint (large up) {
                    margin: 0;
                }
                @include breakpoint(xxlarge up){
                    width: 370px;
                    padding: 40px 30px 30px 45px;
                }
                h6{
                    margin-bottom: 20px;
                    font-size: 16px;
                    background: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: -40px;
                    @include breakpoint(xxlarge up){
                        font-size: 30px;
                        margin-top: -62px;
                        padding-bottom: 30px;
                    }
                    img{
                        display: inline;
                        margin-right: 3px;
                    }
                }
                
                p{
                    font-size: 12px;
                    margin-bottom: 0;
                    line-height: 24px;
                    text-align: left;
                    @include breakpoint(xxlarge up){
                        font-size: 16px;
                    }
                    
                }
                
            }
        }
    }
}