#recipes{
    padding-top: 20px;
    @include breakpoint( xsmall up){
    
    }
    @include breakpoint( xlarge up){
        padding: 20px 40px 0px;

    }
    .recipes{
       
        
        @include breakpoint( xsmall up){
            border-left: 15px solid #fff;
            border-right: 15px solid #fff;
            padding: 30px 40px 55px 40px;
            background-size: cover !important;
            background-position: center !important ;
        }
                
        @include breakpoint( medium up){
            border-left: 40px solid #fff;
            border-right: 40px solid #fff;
            padding: 30px 30px 55px 40px;
            
        }
        @include breakpoint( large up){
            padding: 45px 55px 90px 50px;
        }
        @include breakpoint( xlarge up){
            padding: 65px 30px 95px 115px;
            border: 0;
        }
        .recipe-text{

            .section-article{
                max-width: 250px;
                @include breakpoint( large up){
                    max-width: 400px;
                }
                h1{
                    font-size: 16px;
                    padding-bottom: 25px;
                    margin-bottom: 0;
                    @include breakpoint( medium up){
                        font-size: 18px;
                        padding-bottom: 20px;
                    }
                    @include breakpoint( large up){
                        font-size: 30px;
                    }
                    @include breakpoint( xlarge up){
                        font-size: 30px;
                        padding-bottom: 45px;

                    }
                }
                p{
                    margin-bottom: 30px;
                    font-size: 10px;
                    @include breakpoint( xsmall up){
                        line-height: 17px;
                    }
                    @include breakpoint( medium up){
                        font-size: 12px;
                    }
                    @include breakpoint( large up){
                        font-size: 16px;
                        line-height: 29px;
                    }
                }
                .btn{
                    border: 1.2px solid #fff;
                    background: transparent;
                    margin: unset;
                    font-size: 10px;
                    @include breakpoint( medium up){
                        padding: 5px 18px;
                        font-size: 12px;
                    }
                    @include breakpoint( large up){
                        font-size: 16px;
                        padding: 8px 40px;
                    }
                    &:hover{
                        color: #fff;
                        background: #027E1B;
                        border: 1.2px solid transparent;
                    }
                }
            }
        }
    }
    .recipe-items{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        padding-top: 35px;
        @include breakpoint( xsmall up){
            width: 100%;
            overflow: hidden;
            padding-top: 10px;
            padding-bottom: 30px;
        }
        @include breakpoint( medium up){
            padding-top: 18px;
            padding-bottom: 50px;
        }
        @include breakpoint( large up){
            display: block;
            padding: 30px 40px 90px;
            width: 105%;
            margin-left: -30px;
            overflow: hidden;
        }
        @include breakpoint( xlarge up){
            display: none;
        }
        .slick-dots{
            bottom: 50px;
            li{
                color: #fff;
                transition: .1s ease-in-out;
                &.slick-active{
                    color: #BEB686;
                }
                button{
                    border: 1px solid #BEB686;
                }
                &:hover{
                    color: #BEB686;
                    transition: .1s ease-in-out;
                }
            }

        }
        .slick-slide{
            opacity: .5;
            &.slick-active{
                opacity: 1;
            }
 
        }
        .product{
            cursor: pointer;
            overflow: hidden;
            @include breakpoint( xsmall up){
                margin-right: 10px;
            }
            @include breakpoint( medium up){
                margin-right: 18px;
            }
            @include breakpoint( large up){
                margin-left: 30px;
                margin-right: 0;
            }
            @include breakpoint( xlarge up){
                margin-right: 0;
                width: 257px;
            }
            @include breakpoint( xxlarge up){
                width: 277px;
            }
            img{
                width: 100%;
                transition: .4s ease-in-out;
            }
            .product-text{
                border: 1.2px solid #C9C491;
                padding: 8px 15px;
                margin-top: -30px;
                @include breakpoint( xsmall up){
                    width: 90%;
                }
                @include breakpoint( large up){
                    padding: 15px;
                }
                h5{
                    font-size: 12px;
                    padding-bottom: 0px;
                    margin: 0;
                    @include breakpoint( xsmall up){
                        font-size: 14px;
                    }
                    @include breakpoint( large up){
                        font-size: 16px;
                    }
                    br{
                        display: none;
                        @include breakpoint( large up){
                            display: block;
                        }
                    }
                }
                p{
                    font-weight: bold;
                    font-size: 16px;
                    color: #000;
                    br{
                        display: none;
                        @include breakpoint( large up){
                            display: block;
                        }
                    }
                }
            }
            &:hover{
                img{
                    transition: .4s ease-in-out;
                    transform: scale(1.1);
                }
            }
        }
        a{
            margin: 50px auto 0;
        }
    }
    .recipe-items-no-slider{
        display: none;
        
        @include breakpoint( xlarge up){
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-between;
            padding-top: 35px;
            padding-bottom: 50px;
        }
        .product{
            cursor: pointer;
            overflow: hidden;
            
            @include breakpoint( xxlarge up){
                width: 277px;
                .img-wrap{
                    overflow: hidden;
                img{
                    width: 100%;
                    transition: .3s ease-in-out;
                    opacity: .8;
                }
                }
            }
            .product-text{
                border: 1.2px solid #C9C491;
                @include breakpoint( xlarge up){
                    padding: 15px;
                    h5{
                        padding: 0;
                        margin: 0;
                    }   
                }
            }
            &:hover{
                img{
                    transform: scale(1.1);
                    transition: .3s ease-in-out;
                    opacity: 1;
                }
            }
        }
    }
    .btn{
        margin: 0 auto ;
        @include breakpoint( medium up){
            margin: 0 auto;
        }
    }

}